@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

:root {
    --clr-primary: #0C203A;
    --clr-secondary: #F3F0CA;
    --white: #fff;
    --black: #000;

    --ff-reem: 'Reem Kufi Fun', sans-serif;
    --ff-primary: 'Be Vietnam Pro', sans-serif;

    --ff-body: var(--ff-reem);
    --ff-heading: var(--ff-reem);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: .900rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;
    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-h5: 1.125rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);
    --bg-gray: #E4E3E0;

}

html {
    font-size: 16px;
}

@media (min-width: 50em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);

        --fs-nav: var(--fs-300);
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-size: 18px;

}

/* utility classes */
/* colors */
.primary-title {
    font-size: var(--fs-h1);
    color: var(--black);
}

.secondary-title {
    color: var(--clr-primary);
    font-size: var(--fs-h2);
    text-transform: capitalize;
    font-weight: var(--fw-bold);
    margin-bottom: 30px;
    margin-top: 30px;
}

/* backgrounds */
.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.clr-white {
    color: #fff;
    display: flex;
    margin-bottom: 40px;
}

/* 
section,
.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
} */

/* general styling */
section {
    margin: 0 38px;
}

html, body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);
    background-color: var(--bg-gray);
    overflow-x: hidden;
}

.button {
    cursor: pointer;
    width: 200px;
    border: 0;
    padding: 1.25em 2.5em;
    margin: 15px 0;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    line-height: 1;
    color: var(--white);
    background-color: var(--clr-primary);
    box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
    transition: ease .5s;
}

.button:hover {
    transform: scale(1.03);
    border: 1px solid var(--clr-primary);
    background: var(--white);
}

.button .btn-link {
    color: var(--white);
    text-decoration: none;
}

.button .btn-link:hover {
    color: var(--clr-primary);
}

.card-img {
    height: 210px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.card-img img {
    max-width: 100%;
}

img {
    border-radius: .5rem;
}

/* styling header */
header {
    margin-bottom: 100px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 96px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo a strong {
    font-size: var(--fs-800);

}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 16px;
}

.nav-list .nav-links {
    text-decoration: none;
    color: #000;
}

.nav-list .nav-item:hover,
.nav-item .active {
    color: var(--clr-primary);
    text-decoration: underline;
    transition: .5s ease-out;

}

.nav-btn {
    background: var(--clr-primary);
    color: var(--white) !important;
    padding: 8px 16px;

}


header .navbar .hamburger-icon {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: var(--black);
}

header .navbar .hamburger-icon {
    display: none;
}

/* cards */
.item-card {
    background: var(--white);
    width: 300px;
    margin-top: 32px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.item-card p{
    margin-top: 10px;
}

.card-img {
    height: 210px;
    width: 300px;
}

.card-img img {
    width: 40vh;
    /* max-width: 100%; */
    height: 190px;
}

.image {
    width: 50vw;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.hero {
    display: flex;
    gap: 50px;
}

.content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about {
    margin-top: 140px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socials i {
    margin-top: 10px;
    font-size: 24px;
    transform: scale(1.1);
    transition: .5s;
}

footer {
    background-image: url(../img/image3.jpg);
    display: block;
    margin: 0 auto;
    color: #fff;
    margin-top: 30px;
}

footer ul {
    list-style: none;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.question {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #0C203A;
    width: 80vw;
    padding: 24px;
    color: var(--clr-primary);
}

.question i {
 
    cursor: pointer;
}

.answer {
    display: none;
    border-bottom: 3px solid #0C203A;
    padding: 24px;
    width: 80vw;
}

.answer.active {
    display: block;
}

footer {
    padding: 50px 0px;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 32px;
    gap: 40px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-subtitle {
    font-size: 24px;
}

.inverted-logo a {
    color: var(--white) !important;
}

.inverted-logo,
.footer-subtitle {
    margin-bottom: 25px;
}

.mb-5 li {
    margin-bottom: 15px;
}

.block-list li a {
    color: var(--white);
    display: flex;
    justify-content: start !important;
    font-size: 16px;
}

.nav-list-inverted li a {
    text-decoration: none;
    color: var(--white);
}

.inverted-social-list {
    display: flex;
    font-size: 32px;
    gap: 20px;
}

.inverted-social-list .footer-social a {
    color: var(--white);
}

/* gallery page */
.activity-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-item:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.grid-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    transition: transform 0.2s;
}

.img {
    overflow: hidden;
}

.img:hover .grid-img {
    transform: scale(1.1);
}

.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-row: span 2;
}

.grid-wrapper .tall {
    grid-column: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery {
    padding: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/image4.jpg);
    backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.gallery-header {
    margin: 0;
}

.timing{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.time{
    line-height: 70px;
}
.day{
    font-size: 2rem;
}
.hours{
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.hours span{
    font-size: .8rem;
}

.mt-20{
    margin-top: 96px;
}
.content-start{
    display: flex;
    align-self: start;
}

/* contact section workshop page */
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-container {
    width: 80vw;
    height: 80%;
    background-image:/* linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),*/ url(../img/image2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 60Px;

}

form {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form input,
textarea {
    width: 70%;
    margin-inline: auto;
    border: none;
    border-bottom: 1px #7b7979 solid;
    background: transparent;
    padding: 16px;
    margin-left: 40px;
}
.submit{
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 8px;
}
.submit:hover{
    color: var(--clr-primary);
}

form input::placeholder {
    padding-left: px;
    color: rgba(0, 0, 0, 0.6);
}

form input:focus , textarea:focus{
    border: none;
    outline: none;
    border-bottom: 1px #000 solid;
    background: transparent;
}

form input:focus::placeholder{
    position: relative;
    top: -15px;
    transition: .5s ease;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}



@media screen and (max-width: 767px) {
    header {
        margin: 8px 0 24px;
    }

    header .navbar {
        margin: 0 24px;
    }

    header .navbar .hamburger-icon {
        display: block;
    }

    header .navbar .hamburger-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    header .navbar .hamburger-icon.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    header .navbar .hamburger-icon.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        display: none;
        position: fixed;
        left: -100px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: var(--clr-primary);
        text-align: center;
        width: 100%;
        transition: .3s;
    }

    .nav-item .nav-links {
        margin: 26px;
        color: var(--white);
    }

    .nav-list.active {
        top: 5;
        left: 0;
        display: block;
        padding: 40px 0;
        line-height: 40px;
        z-index: 1;
    }

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .about {
        margin-top: 40px;
    }

    .image {
        width: 80vw;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .faq-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .faq-container h4 {
        margin-bottom: 10px;
        text-align: start;
    }

    .container {
        display: block;
        text-align: center;
    }

    .block-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile {
        display: flex;
        justify-content: center;
    }

    .activity-item {
        display: flex;
        flex-direction: column;
    }
    .button {
        display: flex;
        align-self: center;
    }
    h1{
        font-size: 1.8rem !important;
    }
    .activity-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .activity-item:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .opening-hours{
        display: block;
    }
    .content-start{
        display: flex;
        align-self: center;
    }
    .gallery{
        padding: 10px;
    }
    .content{
        width: 100vw;
    }
    .other-activity{
        margin-top: -124px;
    }
    .map{
        width: 90vw;
    }
    .map iframe{
        max-width: 100%;
    }
    .form-container{
        background: transparent;
        padding: 5px;
    }
    .form-container form {
        width: 100%;
    }
    .form-container form input::placeholder{
        padding-left: 0px;
        margin: 10px;
    }
    .content p{
        margin-bottom: 16px;
    }
}

/* regex */
/* 
#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:var(--clr-primary);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
} */